.box {
  color: blue;
  margin: 15px;
  padding: 10px; }
.datelabel1{
	margin-right:15px;
	}
.datelabel2{
	margin-left:15px;
}
.datepicker1{
	margin-right:10px;
}
.datepicker2{
	margin-right:10px;
}
.req_butt {
  background-color: darkorange;
  width: 10%; }

.header_1 {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 15px; }
.overlay1{
	margin-left:15%;
	margin-right:15%;
	margin-bottom:1%;
}
#bottom_1 {
  background-color: black; }

#bottom_2 {
  background-color: black; }

#cancel_1 {
  margin: 2.6px; }

#submit_1 {
  margin: 2.5px; }

#cancel_2 {
  margin: 2.5px; }

#submit_2 {
  margin: 2.5px; }

#newrequest {
  background-color: darkorange;
  width: 10%; }

.overlay {
  font-weight: bold;
  font-size: 20px; }
